.mainLayoutContainer {
  display: flex;
  box-sizing: border-box;
  width: calc(100vw - 64px);
  height: calc(100vh - 64px);
  margin: 32px;
  padding: 76px;
  overflow: hidden;
  background-color: colors.$main-white;
  border-radius: 5px;
  box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.2);
}
